* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 10px 20px;
    height: 100px;
    border: 2px solid #e7e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa; 
}

.logo {
    height: 80px;
    width: auto;
}

.list {
    display: flex;
    align-items: center; 
    font-size: 18px;
}

.list li {
    margin: 0 15px;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.list li:hover {
    transform: translateY(-3px);
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #333;
}

.log-btn {
    margin-left: auto; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff5733; 
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.container {
    margin: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.searchbar {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-right: 3px;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

.cards {
    margin: 15px;
    padding: 15px;
    width: 280px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.cards:hover {
    transform: translateY(-5px); 
}

.cards img {
    width: 100%;
    border-radius: 8px;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff5733;
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e64a19; 
}
.fakecontainer {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center; 
}
@keyframes loading {
    0% { background-color: lightgray; }
    50% { background-color: #e2e1e1; }
    100% { background-color: lightgray; }
}

.fake {
    margin: 15px;
    padding: 15px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    height: 350px;
    width: 220px;
    margin: 20px;
    background-color: lightgray;
    animation: loading 1s infinite;
}

.menu {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .menu h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .menu p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
    display: flex;
    justify-content: space-between;
  }
  
  .menu ul li span {
    font-weight: bold;
  }
  